body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
}

.chart {
    border-radius: 8px;
    margin-bottom: 10px;
    height: 80%;
}

.x-axis, .y-axis, .x-label {
    color: #555;
    font-weight: bold;
    position: absolute;
}

.x-axis {
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
}

.y-axis {
    top: 50%;
    left: -8%;
    transform: translateY(-50%) rotate(-90deg);
}